.brand{
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.28;
  letter-spacing: 1.3px;
  color: #000000;
}
.select-brand{
  width: 70%;
  margin: auto;
}
.row-1 input[type=checkbox], input[type=radio] {
    margin: 10px 4px 0px;
}
.select-brand h3 {
    font-size: 22px;
}
.select-brand .radio {
    margin-left: 0px;
}

@media only screen and (max-width:1200px) and (min-width:768px){
	.brand{
	  font-size: 16px;
	}
}
@media only screen and (max-width:767px) and (min-width:100px){
	.brand{
	  font-size: 14px;
	}
}
.add-new-add .selectize-control.single .selectize-input, .selectize-control.single .selectize-input input{
  border: none !important;;
  outline:none !important;
  border-radius: 0px !important;
  width: 100% !important;;
}
.selectize-input:focus {
  border: 0px solid transparent !important;
  box-shadow: 0 0 0px transparent !important;
  -moz-box-shadow: 0 0 0px transparent !important;
  -webkit-box-shadow: 0 0 0px transparent !important;
} 
.selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input , .selectize-dropdown, .selectize-dropdown.form-control{
  box-shadow: 0 0 0px transparent !important;
  -moz-box-shadow: 0 0 0px transparent !important;
  -webkit-box-shadow: 0 0 0px transparent !important;
}
.selectize-input input{
width: 100% !important;;
}
.add-new-add .selectize-control.single .selectize-input, .selectize-control.single .selectize-input input, .account-modal .form-control{
    padding: 0px;
    min-height: 20px;
}
.add-new-add .custom-add {
  margin-bottom: 30px !important;
}
.focus{
  border: 0px solid transparent !important;
  box-shadow: 0 0 0px transparent !important;
  -moz-box-shadow: 0 0 0px transparent !important;
  -webkit-box-shadow: 0 0 0px transparent !important;
}
.add-vehicle-btn{
     font-size: 22px;
    background: transparent;
    border: none;
    margin-top: 15px;
    font-weight: 500;
    float: right;
}
.select-vehicle .modal-header h4{
   font-size: 22px;
    background: transparent;
    margin:0px;
    border: none;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}
.select-vehicle label {
    font-size: 18px !important;
    margin-top: 20px !important;
    }
.select-vehicle .custom-btn1 {
    margin: 7% 0% 5%;
}
.select-vehicle .custom-add {
    margin-bottom: 40px !important;
}


@media only screen and (max-width:1200px) and (min-width:768px){
  .select-brand h3 , .add-vehicle-btn{
    font-size: 18px;
  }
  .select-brand {
    width: 90%;
  }
}

@media only screen and (max-width:767px) and (min-width:100px){
    .select-vehicle .modal-header h4 {
      font-size: 20px !important;;
    }
    .select-vehicle label {
    font-size: 16px !important;
    }
     .select-vehicle  .modal-body {
    position: relative;
    padding: 20px 0px ;
    }
  .select-brand {
    width: 100%;
    text-align: center;
  }
  .select-brand h3 {
    font-size: 18px;
    }
    .add-vehicle-btn{
        float: none;
        font-size: 17px;
        margin: 20px;
    }
  }