@media (max-width: 320px) {

}

@media (max-width: 768px) {
    #active-btn {
    width: 17.6rem;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.8;
    letter-spacing: 0.5px;
    padding-left: 1em;
    outline: 0!important;
    color: #ffffff;
    box-shadow: 0px 2px 38px 0 rgba(0, 0, 0, 0.08);
    background-color: #f47634;
}

.questions-category-buttons button {
    width: 20em;
    border: none;
    color: black;
    background: none;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.8;
    letter-spacing: 0.5px;
    padding-left: 1em;
    outline: 0!important;
    box-shadow: 0px 2px 38px 0 rgba(0, 0, 0, 0.08);
}

.questions-category-buttons {
    padding-bottom: 20px;
    padding-left: 6.5px;
}

.user-questions .questions {
    font-weight: bold;
    font-size: 10px;
    font-size: 18px;
    padding-bottom: 1.5em;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.63px;
    text-align: center;
    color: #000000;
}

.user-questions .questions {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0.8em;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.63px;
    text-align: center;
    color: #000000;
}

.user-questions .answer {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.63px;
    text-align: center;
    color: #515050;
    padding-bottom: 2em;
}

#user-que-ans {
    background-color: #f9f9f9;
    padding-left: 24px;
    padding-right: 24px;
}

.related-questions {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 0.8em;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.63px;
    text-align: center;
    color: #000000;
}

.related-ans {
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: 0.63px;
    text-align: center;
    color: #515050;
    padding-bottom: 2em;
}

#questions-category h3 {
    background-image: linear-gradient(to top, #ed3237, #f47634), linear-gradient(to bottom, #282828, #282828);
    font-family: Roboto;
    font-size: 33px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 1px;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#questions-category .form-control {
    padding-top: 15px;
    padding-bottom: 15px;
    height: 3rem;
}

.search-questions {
    padding-bottom: 40px;
}

}


@media (max-width: 543px) {

}

@media (max-width: 1160px) {

}

@media (min-width: 1025px) and (max-width: 1280px) {

}

@media (max-width: 1330px) {}


@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2){

}