/*Galaxy s5*/

@media only screen 

  and (max-device-width: 480px) 
  {
.services-type-slider{
	width: 100%!important;
	padding-top: 10px;
  }

  .subscribe-button{
    padding-left: 10px!important;
    padding-right: 10px!important;
    padding-top:0.9em!important;
    padding-bottom:0.9em!important;
  }

  .search-input{
    padding-right: 0px!important;
  }

  .arrow-location {
    position: absolute;
    right: 113px;
    top: 43px;
    width: 3%;
    z-index: 10;
}

.input-group {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.garage-feature{
    margin-bottom: 2rem;
}

.headers {
    font-size: 24.5px!important;
    color: #000000;
    line-height: 1.16;
    font-weight: 900;
    letter-spacing: 1.08px;
}

.para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 14px!important;
    letter-spacing: 1.5px;
}



}

/*Galaxy s5*/
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) 
  and (-webkit-min-device-pixel-ratio: 3){
.header-left-img {
    position: relative;
    bottom: 50px;
    left: 40px;
    display: none;
}

.playstore {
    padding: 1em 0;
    width: 50%;
}

.header-right-img {
    display: none;
    position: relative;
    bottom: 50px;
    left: 75px;
}

.garage-data {
    padding-top: 8em;
}

#main-title .main-header {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 700;
    color: #282828;
}

#Why-Choose-ServiceOn .col{
    flex: auto;
    max-width: 100%;
    padding-top: 1rem;
}

.feature-icons{
    display: flex;
    max-width: 100%;
}

.logo-frame {
    padding: 1.5em 0 4em!important;
    margin-bottom: 13rem!important;
}

.bike-brands{
	padding-top: 1rem;
}

#main-title .jumbotron h4 {
    font-size: 22px;
    font-weight: 750;
}

.last-feature{
    padding-top: 15.5px;
}

.headers {
    font-size: 36.5px;
    color: #000000;
    line-height: 1.16;
    font-weight: 900;
    letter-spacing: 1.08px;
}

#questions-category, #confirmation, .section-padding {
    background-color: #f9f9f9;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
}

.para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 16px;
    letter-spacing: 1.5px;
}

.bike-service {
    width: 100%;
    margin-top: 2rem;
}

#Why-Choose-ServiceOn{
	
    background-color: #f9f9f9;
    padding-top: 0rem;
    padding-left: 40px;
    padding-right: 40px;
}

.service-settings {
    padding: 1em 0 3em;
        margin-bottom: 3rem;
}

.rectangle-section {
    position: absolute;
    bottom: -137px;
    left: 0px;
    margin: auto;
}

.mobile-sideimg {
	text-align: center!important;

}
.mobile-app-sideimg{
	    display: none;
}

.service-back-img  .para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 14px;
    letter-spacing: 1.5px;
}

.section-padding-white {
    padding-top: 3rem;
    padding-left: 40px;
    padding-right: 40px;
}

.types-of-service{
	margin-top: 1rem;
}

#myCarousel2 .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
    position: absolute;
    left: -33px;
}

#myCarousel2 .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -33px;
}

#subscribe-section{
	padding-top: 3rem;
    padding-left: 0px;
    padding-right: 0px;
}

.subscribe-title{
	font-size: 22px;
}

.subscribe-title-content{
    font-size: 13px;
}

.contact {
    padding-right: 1em;
    border-right: 1px solid white;
    padding-left: 1em;
}

br{
    display: none!important;
}

.ongoing-offers-slider .card-title {
    background-image: linear-gradient(to top, #ed3237, #f47634), linear-gradient(to bottom, #000000, #000000);
    font-size: 19px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: #000000;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-footer .col {
    flex: auto;
    width: 33%;
}

.logo{
    padding-left: 0rem!important;
}

.images-logo{
        width: 65%;
}


}

/*galaxy s5 landscape*/
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) 
  and (-webkit-min-device-pixel-ratio: 3) 
  and (orientation: landscape){
    .bike-brands {
    padding-top: 1.5rem;
}

#Why-Choose-ServiceOn .col {

    max-width: 20%;
    padding-top: 1rem;
}

.playstore {
    padding: 1em 0;
    width: 50%;
}

.bike-service {
    width: 100%;
    margin-top: 0rem;
}

.logo-frame {
    padding: 1.5em 0 4em!important;
    margin-bottom: 0rem!important;
}

.logo-frame {
    padding: 1.5em 0 4em!important;
    margin-bottom: 0rem!important;
}


.ongoing-offers-slider .card-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.77);
}
.carousel-item .services-type-slider {
    width: 75%;
}

.bike-brands-logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 100%!important;
    max-width: 100%!important;
}
.mobile-app-sideimg {
    display: block;
}
}

/*ipad*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .services-slider .types-of-service {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to top, #ed3237, #f58634);
    outline: none;
    border: 0!important;
    color: #ffffff;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: 0.53px;
}


.home-footer .col {
    flex: auto;
    width: 0%;
}

#myCarousel2 .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    position: absolute;
    right: -29px;
}

#myCarousel2 .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    position: absolute;
    left: -29px;
  }

  .header-left-img {
    position: relative;
    bottom: 50px;
    left: 15px;
}

.header-right-img {
    position: relative;
    bottom: 50px;
    left: -10px;
}

.bike-brands{
    padding:1rem 0px;
}

.logo-frame {
    padding: 3em 0 1em;
}

#main-title .jumbotron h4 {
    font-size: 24px;
    font-weight: 750;
}

#main-title .jumbotron p {
    font-size: 15px;
}

.headers {
    font-size: 42.5px;
    color: #000000;
    line-height: 1.16;
    font-weight: 900;
    letter-spacing: 1.08px;
}

.para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 16px;
    letter-spacing: 1.5px;
}

.section-padding1{

        background-color: #f9f9f9;
    padding-top: 1rem;
    padding-left: 40px;
    padding-right: 40px;
}

.section-padding-white {
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
}

}


/*Ipad pro*/
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2){

.mobile-app-sideimg{
    width: 100%;
}

.para-content1{
    padding-left: 10rem;
    padding-right: 3rem;
}

}


/*Iphone 5/se*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .book-now-btn {
        font-size: 13px;
    background-color: #EE3E37;
    color: #FFFF;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.12) !important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

br{
    display: none!important;
}

#Why-Choose-ServiceOn .col {
    flex: auto;
    max-width: 100%;
    padding-top: 1rem;
}
.playstore {
    padding: 1em 0;
    width: 50%;
}

.about-us-btn {
    border: 1px solid #F15A36;
    color: #F15A36;
    font-size: 13px;
    box-shadow: 6px 8px 10px rgba(0,0,0,0.12) !important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.logo{
    padding-left: 0rem!important;
}

.images-logo{
            width: 65%;
}


.para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 14px;
    letter-spacing: 1.5px;
}

#main-title .main-header {
    text-transform: uppercase;
    font-size: 21px!important;
    font-weight: 700;
    color: #282828;
}

.header-left-img {
    position: relative;
    bottom: 50px;
    left: 40px;
    display: none;
}

.header-right-img {
    display: none;
    position: relative;
    bottom: 50px;
    left: 75px;
}

.garage-data {
    padding-top: 8em;
}

#main-title .main-header {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 700;
    color: #282828;
}

#main-title .header-content {
    font-size: 16px;
    padding-top: 15px;
}

.logo-frame {
    padding: 1.5em 0 4em!important;
    margin-bottom: 5rem!important;
}

.bike-brands{
    padding-top: 1rem;
}

#main-title .jumbotron h4 {
    font-size: 22px;
    font-weight: 750;
}

.headers {
    font-size: 36.5px;
    color: #000000;
    line-height: 1.16;
    font-weight: 900;
    letter-spacing: 1.08px;
    text-shadow: none!important;
}

#questions-category, #confirmation, .section-padding {
    background-color: #f9f9f9;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
}

.para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 16px;
    letter-spacing: 1.5px;
}

.bike-service {
    width: 100%;
    margin-top: 2rem;
}

#Why-Choose-ServiceOn{
    
    background-color: #f9f9f9;
    padding-top: 0rem;
    padding-left: 40px;
    padding-right: 40px;
}

.service-settings {
    padding: 1em 0 3em;
        margin-bottom: 3rem;
}

.rectangle-section {
    position: absolute;
    bottom: -137px;
    left: 0px;
    margin: auto;
}

.mobile-sideimg {
    text-align: center!important;

}
.mobile-app-sideimg{
        display: none;
}

.service-back-img  .para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 14px;
    letter-spacing: 1.5px;
}

.section-padding-white {
    padding-top: 3rem;
    padding-left: 40px;
    padding-right: 40px;
}

.types-of-service{
    margin-top: 1rem;
}

#myCarousel2 .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
    position: absolute;
    left: -33px;
}

#myCarousel2 .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -33px;
}

#subscribe-section{
    padding-top: 3rem;
    padding-left: 0px;
    padding-right: 0px;
}

.subscribe-title{
    font-size: 22px;
}

.subscribe-title-content{
    font-size: 13px;
}

.ongoing-offers-slider .card-title {
    background-image: linear-gradient(to top, #ed3237, #f47634), linear-gradient(to bottom, #000000, #000000);
    font-size: 18px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: #000000;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ongoing-offers-slider .card-text {
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.77);
}

.home-footer .col {
    flex: auto;
    width: 33%;
}

}


/*iphone 5/se landscape*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape){
    .bike-brands {
    padding-top: 1.5rem;
}



.headers {
    font-size: 25.5px!important;
    color: #000000;
    line-height: 1.16;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 1 px 1px, 1px 0px, 1px 1px;
}

.mobile-app-sideimg {
    display: block;
}

.logo-frame {
    padding: 1.5em 0 4em!important;
    margin-bottom: 0rem!important;
}

.logo-frame {
    padding: 1.5em 0 4em!important;
    margin-bottom: 5rem!important;
}

.carousel-item .services-type-slider {
    width: 75%;
}

.garage-data {
    padding-top: 9em;
}

.header-left-img {
    position: relative;
    bottom: 50px;
    left: 40px;
    display: none;
}

.header-right-img {
    display: none;
    position: relative;
    bottom: 50px;
    left: 75px;
}

    .bike-brands {
    padding-top: 1.5rem;
}

.logo-frame {
    padding: 1.5em 0 4em!important;
    margin-bottom: 0rem!important;
}

.logo-frame {
    padding: 2.5em 0 1em!important;
    margin-bottom: 0rem!important;
}
.carousel-item .services-type-slider {
    width: 75%;
}

.types-of-service {
    margin-top: 1rem;
}

.about-serviceon-section{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 14px;
    letter-spacing: 1.5px;
}

.headers {
    font-size: 35.5px;
    color: #000000;
    line-height: 1.16;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 1 px 1px, 1px 0px, 1px 1px;
}

.bike-brands-logo{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 100%;
    max-width: 100%;
}

.garage-feature{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.section-padding1{
    background-color: #f9f9f9;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.service-settings {
    padding: 2em 0 3em;
}

.serviceon-mobile-section{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.section-padding-white {
    padding-top: 3.5rem;
    padding-left: 40px;
    padding-right: 40px;
}

.carousel-item .services-type-slider {
    width: 18%;
}

.services-slider .types-of-service {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to top, #ed3237, #f58634);
    outline: none;
    border: 0!important;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: 0.53px;
}

.section-padding2{
    background-color: #f9f9f9;
    padding-top: 6rem;
    padding-left: 40px;
    padding-right: 40px;
        padding-bottom: 3rem;
}

.offers-coupon-slider{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

#myCarousel2 .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -28px!important;
}

#myCarousel .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
    position: absolute;
    left: -30px;
    top: 30px;
}

#myCarousel .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -28px;
    top: 32px;
}

#main-title .jumbotron h4 {
    font-size: 25px;
    font-weight: 750;
}

#main-title .jumbotron p {
    font-size: 15px;
}

#myCarousel2 .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
    position: absolute;
    left: -35px;
}

#myCarousel2 .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -35px!important;
}

#ongoing-offers br {
    display: none;
}

.ongoing-offers-slider .card-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.77);
}

.ongoing-offers-slider .card-text {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.77);
}

.carousel-slide{
    padding-top: 2rem!important;
}

#main-title .main-header {
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 700;
    color: #282828;
}

.ongoing-offers-slider .card-title {
    background-image: linear-gradient(to top, #ed3237, #f47634), linear-gradient(to bottom, #000000, #000000);
    font-size: 15px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: #000000;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact {
    padding-right: 1em;
    border-right: 1px solid white;
    padding-left: 1em!important;
}

.contact-footer-section{
    justify-content: center!important;
}

br{
    display: none!important;
}

.bike-service {
    width: 100%;
    margin-top: 0rem;
}

#questions-category, #confirmation, .section-padding {
    background-color: #f9f9f9;
    padding-top: 8rem;
    padding-left: 40px;
    padding-right: 40px;
}


}



/*Iphone 6 7 8 plus landscape*/
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) 
  and (orientation: landscape){
.garage-data {
    padding-top: 9em;
}

.section-padding1 {
    background-color: #f9f9f9;
    padding-top: 0px!important;
    padding-left: 40px;
    padding-right: 40px;
}

.header-left-img {
    position: relative;
    bottom: 50px;
    left: 40px;
    display: none;
}

.header-right-img {
    display: none;
    position: relative;
    bottom: 50px;
    left: 75px;
}

    .bike-brands {
    padding-top: 1.5rem;
}

.logo-frame {
    padding: 1.5em 0 4em!important;
    margin-bottom: 0rem!important;
}

.logo-frame {
    padding: 2.5em 0 1em!important;
    margin-bottom: 0rem!important;
}
.carousel-item .services-type-slider {
    width: 75%;
}

.types-of-service {
    margin-top: 1rem;
}

.about-serviceon-section{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 14px;
    letter-spacing: 1.5px;
}

.headers {
    font-size: 35.5px;
    color: #000000;
    line-height: 1.16;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 1 px 1px, 1px 0px, 1px 1px;
}

.bike-brands-logo{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.garage-feature{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.section-padding1{
    background-color: #f9f9f9;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.service-settings {
    padding: 2em 0 3em;
}

.serviceon-mobile-section{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.section-padding-white {
    padding-top: 3.5rem;
    padding-left: 40px;
    padding-right: 40px;
}

.carousel-item .services-type-slider {
    width: 18%;
}

.services-slider .types-of-service {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to top, #ed3237, #f58634);
    outline: none;
    border: 0!important;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: 0.53px;
}

.section-padding2{
    background-color: #f9f9f9;
    padding-top: 6rem;
    padding-left: 40px;
    padding-right: 40px;
        padding-bottom: 3rem;
}

.offers-coupon-slider{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

#myCarousel2 .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -28px!important;
}

#myCarousel .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
    position: absolute;
    left: -30px;
    top: 30px;
}

#myCarousel .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -28px;
    top: 32px;
}

#main-title .jumbotron h4 {
    font-size: 25px;
    font-weight: 750;
}

#main-title .jumbotron p {
    font-size: 15px;
}

#myCarousel2 .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
    position: absolute;
    left: -35px;
}

#myCarousel2 .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -35px!important;
}

#ongoing-offers br {
    display: none;
}

.ongoing-offers-slider .card-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.77);
}

.ongoing-offers-slider .card-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.77);
}

.carousel-slide{
    padding-top: 2rem!important;
}

#main-title .main-header {
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 700;
    color: #282828;
}

.ongoing-offers-slider .card-title {
    background-image: linear-gradient(to top, #ed3237, #f47634), linear-gradient(to bottom, #000000, #000000);
    font-size: 19px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: #000000;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact {
    padding-right: 1em;
    border-right: 1px solid white;
    padding-left: 1em!important;
}

.contact-footer-section{
    justify-content: center!important;
}

#questions-category, #confirmation, .section-padding {
    background-color: #f9f9f9;
    padding-top: 105px;
    padding-left: 40px;
    padding-right: 40px;
}

}


/*Iphone 6 7 8*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2){
    .book-now-btn {
        font-size: 13px;
    background-color: #EE3E37;
    color: #FFFF;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.12) !important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}

.about-us-btn {
    border: 1px solid #F15A36;
    color: #F15A36;
    font-size: 13px;
    box-shadow: 6px 8px 10px rgba(0,0,0,0.12) !important;
    border-top-left-radius: 0!important;
    border-bottom-left-radius: 0!important;
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
}



.para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 14px;
    letter-spacing: 1.5px;
}

#main-title .main-header {
    text-transform: uppercase;
    font-size: 21px!important;
    font-weight: 700;
    color: #282828;
}

.header-left-img {
    position: relative;
    bottom: 50px;
    left: 40px;
    display: none;
}

.header-right-img {
    display: none;
    position: relative;
    bottom: 50px;
    left: 75px;
}

.garage-data {
    padding-top: 8em;
}

#main-title .main-header {
    text-transform: uppercase;
    font-size: 23px;
    font-weight: 700;
    color: #282828;
}

#main-title .header-content {
    font-size: 16px;
    padding-top: 15px;
}

.logo-frame {
    padding: 1.5em 0 4em!important;
    margin-bottom: 5rem!important;
}

.bike-brands{
    padding-top: 1rem;
}

#main-title .jumbotron h4 {
    font-size: 22px;
    font-weight: 750;
}

.home-footer .col {
    flex: auto;
    width: 33%;
}

.headers {
    font-size: 36.5px;
    color: #000000;
    line-height: 1.16;
    font-weight: 900;
    letter-spacing: 1.08px;
}

#questions-category, #confirmation, .section-padding {
    background-color: #f9f9f9;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
}

.para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 16px;
    letter-spacing: 1.5px;
}

.bike-service {
    width: 100%;
    margin-top: 2rem;
}

#Why-Choose-ServiceOn{
    
    background-color: #f9f9f9;
    padding-top: 0rem;
    padding-left: 40px;
    padding-right: 40px;
}

.service-settings {
    padding: 1em 0 3em;
        margin-bottom: 3rem;
}

.rectangle-section {
    position: absolute;
    bottom: -137px;
    left: 0px;
    margin: auto;
}

.mobile-sideimg {
    text-align: center!important;

}
.mobile-app-sideimg{
        display: none;
}

.service-back-img  .para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 14px;
    letter-spacing: 1.5px;
}

.section-padding-white {
    padding-top: 3rem;
    padding-left: 40px;
    padding-right: 40px;
}

.types-of-service{
    margin-top: 1rem;
}

#myCarousel2 .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
    position: absolute;
    left: -33px;
}

#myCarousel2 .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -33px;
}

#subscribe-section{
    padding-top: 3rem;
    padding-left: 0px;
    padding-right: 0px;
}

.subscribe-title{
    font-size: 22px;
}

.subscribe-title-content{
    font-size: 13px;
}
}

/*Iphone 6 7 8 landscape*/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape){

.garage-data {
    padding-top: 9em;
}

.header-left-img {
    position: relative;
    bottom: 50px;
    left: 40px;
    display: none;
}

.header-right-img {
    display: none;
    position: relative;
    bottom: 50px;
    left: 75px;
}

    .bike-brands {
    padding-top: 1.5rem;
}

.logo-frame {
    padding: 1.5em 0 4em!important;
    margin-bottom: 0rem!important;
}

.logo-frame {
    padding: 2.5em 0 1em!important;
    margin-bottom: 0rem!important;
}
.carousel-item .services-type-slider {
    width: 75%;
}

.types-of-service {
    margin-top: 1rem;
}

.about-serviceon-section{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 14px;
    letter-spacing: 1.5px;
}

.headers {
    font-size: 35.5px;
    color: #000000;
    line-height: 1.16;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 1 px 1px, 1px 0px, 1px 1px;
}

.bike-brands-logo{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 100%;
    max-width: 100%;
}

.garage-feature{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.section-padding1{
    background-color: #f9f9f9;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.service-settings {
    padding: 2em 0 3em;
}

.serviceon-mobile-section{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.section-padding-white {
    padding-top: 3.5rem;
    padding-left: 40px;
    padding-right: 40px;
}

.carousel-item .services-type-slider {
    width: 18%;
}

.services-slider .types-of-service {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to top, #ed3237, #f58634);
    outline: none;
    border: 0!important;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: 0.53px;
}

.section-padding2{
    background-color: #f9f9f9;
    padding-top: 6rem;
    padding-left: 40px;
    padding-right: 40px;
        padding-bottom: 3rem;
}

.offers-coupon-slider{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

#myCarousel2 .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -28px!important;
}

#myCarousel .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
    position: absolute;
    left: -30px;
    top: 30px;
}

#myCarousel .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -28px;
    top: 32px;
}

#main-title .jumbotron h4 {
    font-size: 25px;
    font-weight: 750;
}

#main-title .jumbotron p {
    font-size: 15px;
}

#myCarousel2 .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
    position: absolute;
    left: -35px;
}

#myCarousel2 .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -35px!important;
}

#ongoing-offers br {
    display: none;
}

.ongoing-offers-slider .card-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.77);
}

.ongoing-offers-slider .card-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.77);
}

.carousel-slide{
    padding-top: 2rem!important;
}

#main-title .main-header {
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 700;
    color: #282828;
}

.ongoing-offers-slider .card-title {
    background-image: linear-gradient(to top, #ed3237, #f47634), linear-gradient(to bottom, #000000, #000000);
    font-size: 19px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: #000000;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact {
    padding-right: 1em;
    border-right: 1px solid white;
    padding-left: 1em!important;
}

.contact-footer-section{
    justify-content: center!important;
}

#questions-category, #confirmation, .section-padding {
    background-color: #f9f9f9;
    padding-top: 105px;
    padding-left: 40px;
    padding-right: 40px;
}

.bike-service {
    width: 100%;
    margin-top: 0rem!important;
}

.mobile-app-sideimg {
    display: block;
}
}





/*Pixel 2  landscape*/
@media only screen 
  and (min-device-width: 411px) 
  and (max-device-width: 731px)
  and (orientation: landscape) {

garage-data {
    padding-top: 9em;
}

.garage-data {
    padding-top: 8em;
}

.header-left-img {
    position: relative;
    bottom: 50px;
    left: 40px;
    display: none;
}

.header-right-img {
    display: none;
    position: relative;
    bottom: 50px;
    left: 75px;
}

    .bike-brands {
    padding-top: 1.5rem;
}

.logo-frame {
    padding: 1.5em 0 4em!important;
    margin-bottom: 0rem!important;
}

.logo-frame {
    padding: 2.5em 0 1em!important;
    margin-bottom: 0rem!important;
}
.carousel-item .services-type-slider {
    width: 75%;
}

.types-of-service {
    margin-top: 1rem;
}

.about-serviceon-section{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.para-content {
    opacity: 0.9;
    line-height: 1.39;
    letter-spacing: 0.58px;
    text-align: left;
    color: rgba(40, 40, 40, 0.9);
    font-size: 14px;
    letter-spacing: 1.5px;
}

.headers {
    font-size: 35.5px;
    color: #000000;
    line-height: 1.16;
    font-weight: 900;
    letter-spacing: 2px;
    text-shadow: 1 px 1px, 1px 0px, 1px 1px;
}

.bike-brands-logo{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 100%;
    max-width: 100%;
}

.garage-feature{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.section-padding1{
    background-color: #f9f9f9;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
}

.service-settings {
    padding: 2em 0 3em;
}

.serviceon-mobile-section{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.section-padding-white {
    padding-top: 3.5rem;
    padding-left: 40px;
    padding-right: 40px;
}

.carousel-item .services-type-slider {
    width: 18%;
}

.services-slider .types-of-service {
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to top, #ed3237, #f58634);
    outline: none;
    border: 0!important;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.26;
    letter-spacing: 0.53px;
}

.section-padding2{
    background-color: #f9f9f9;
    padding-top: 6rem;
    padding-left: 40px;
    padding-right: 40px;
        padding-bottom: 3rem;
}

.offers-coupon-slider{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

#myCarousel2 .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -28px!important;
}

#myCarousel .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
    position: absolute;
    left: -30px;
    top: 30px;
}

#myCarousel .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -28px;
    top: 32px;
}

#main-title .jumbotron h4 {
    font-size: 25px;
    font-weight: 750;
}

#main-title .jumbotron p {
    font-size: 15px;
}

#myCarousel2 .carousel-control-prev-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E);
    position: absolute;
    left: -35px;
}

#myCarousel2 .carousel-control-next-icon {
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' f…3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E);
    position: absolute;
    right: -35px!important;
}

#ongoing-offers br {
    display: none;
}

.ongoing-offers-slider .card-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.77);
}

.ongoing-offers-slider .card-text {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.5px;
    text-align: left;
    color: rgba(0, 0, 0, 0.77);
}

.carousel-slide{
    padding-top: 2rem!important;
}

#main-title .main-header {
    text-transform: uppercase;
    font-size: 31px;
    font-weight: 700;
    color: #282828;
}

.ongoing-offers-slider .card-title {
    background-image: linear-gradient(to top, #ed3237, #f47634), linear-gradient(to bottom, #000000, #000000);
    font-size: 19px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.75px;
    text-align: left;
    color: #000000;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact {
    padding-right: 1em;
    border-right: 1px solid white;
    padding-left: 1em!important;
}

.contact-footer-section{
    justify-content: center!important;
}

#questions-category, #confirmation, .section-padding {
    background-color: #f9f9f9;
    padding-top: 105px;
    padding-left: 40px;
    padding-right: 40px;
}

.bike-service {
    width: 100%;
    margin-top: 0rem!important;
}

.mobile-app-sideimg {
    display: block;
}

 .section-padding1 {
    background-color: #f9f9f9;
    padding-top: 0px;
    padding-left: 40px;
    padding-right: 40px;
}
}
