.saved-btn {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    width: 140px;
    letter-spacing: 0.6px;
    text-align: center;
    border: none;
    border-radius: 28px;
    margin: 5% 0%;
    padding: 7px 20px !important;
       color: #fff !important;;;
       background-color: #ec3237;
    }
    .total-bill p {
    margin: 15px 0px !important;;
    }
    .download-btn {
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    /*width: 140px;*/
    letter-spacing: 0.6px;
    text-align: center;
    color: #ec3237;
    border: none;
    border-radius: 28px;
    margin: 5% 0%;
    padding: 5px 20px !important;
    border: 2px solid #ec3237;
    background-color: transparent;
    }
    .top{
        margin-top: 0px;
    }
    .bottom{
        margin-top: 65% !important;
    }
    .grey-bg{
        background: #f2f2f2;
    }
    .up-img, .down-img{
        width: 20px;
        position: absolute;
        right:15px;
        margin: 15px 0px;
    }
    .down-img{
        display: none;
    }
    .collapsed  .up-img{
        display: none;
    }
    .collapsed  .down-img{
        display: block;
    }
    .spl-navbar{
          background-color: #f2f2f2;
    }
    .spl-navbar a {
          font-size: 15px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 2.03;
          letter-spacing: 0.4px; 
          /*padding: 0px 10px;*/
          text-align: left;
          color: #000000;
    }
    .spl-navbar li{
        width: 20%;
    }
      .spl-navbar a:hover{
        color: #000000;
      }
        .spl-navbar a span{
                padding: 0px 10px;
        }
     .spl-navbar .active a span {
    border-bottom: 1px solid #000;
   /* padding: 0px 10px;*/
    }
    .details-spl{
        padding:2% 15px;
    }
    .total-bill-sepration .row{
          background-color: #f2f2f2;
    }
    .details-spl p{
      font-size: 15px;
      font-weight: normal;   
      margin: 10px 0px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: 0.4px;
      text-align: left;
      color: #000000;
    }
    .spl-navbar .active a , .spl-navbar .active a:hover,  .spl-navbar .active a:focus {
        color: #000 !important;;
        border-bottom: 1px solid #000;
        background-color: transparent !important;;
    }
@media only screen and (max-width:1200px) and (min-width:768px){
  .saved-btn {
    font-size: 14px;
    width: 127px;
/*    height: 58px;*/
    }
}
@media only screen and (max-width:767px) and (min-width:200px){
    .ongoingorder h3 {
        line-height: 1.5 !important;
        margin-bottom: 5px  !important;;
    }
    .saved-btn {
    font-size: 14px;
    width: 127px;
    height: auto;
    }
    .total-bill .text-right{
        text-align: left  !important;;
    }
    .download-btn{
      font-size: 14px;
      padding: 5px 10px !important;    margin: 5px;
    }
    .up-img, .down-img {
    width: 15px  !important;;
    margin: 0px 0px  !important;;
    }
    .spl-navbar li {
    width: 30% !important;;;
    }
    .details-spl p {
    font-size: 14px !important;;;;
    }
}

.no-ongoing-orders {
    border: solid 1px #ebebeb;
    padding: 10%;
    background-color: #ffffff;
    text-align: center;
}

.no-ongoing-orders h3 {
    font-size: 25px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    margin: 8% 0% 3%;
    line-height: 0.62;
    letter-spacing: 1.3px;
    color: #000000;
}


@media only screen and (max-width:1200px) and (min-width:768px){

}
@media only screen and (max-width:767px) and (min-width:200px){
.no-ongoing-orders img{
    width: 80px;
}
.no-ongoing-orders h3 {
    font-size: 16px;
    line-height: 1.5 !important;
    }
    .shop-btn {
    font-size: 14px;
    width: 127px;
    height: 58px;
}
}