@charset "UTF-8";
.jumbotron{
  padding: 10% 20%;
  background-image: url(../images/new/landingpageheading.png);
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-size:100% 100%;
}
.about-us p{
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 0.1px;
  text-align: left;
  color: #000000;
}
.about-us h2{
  font-size: 45px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  margin: 0px;
  letter-spacing: 3.9px;
  text-align: left;
  color: #000000;
}
.about-us h3{
   font-size: 25px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: normal;
}
.Speciality{
}

.promise{
    background-color: #f2f2f2;
    margin:5% 0%;
    padding: 5%;
}
.promise-box{
    background-color: #eaeaea;    
    margin: 5% 0%;
    padding: 5%;
}
.Speciality p{
  width: 90%;
}
.Speciality img{
  width: 568px;
  height: 401px;
}
.offer{
  margin-bottom: 5%;
}
.service-sec .custom-btn1 {
    width: 150px;
}
.Speciality .nav-justified>li>a{
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.04;
  letter-spacing: normal;
  padding: 0px;
  color: #434343;
}
.Speciality .nav-pills>li.active>a span{
  border-bottom: 2px solid #000;

}
.Speciality .nav-justified{
    margin-bottom: 5%;
}
.text-left a{
  text-align: left !important;
}
.text-right a{
  text-align: right !important;

}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background: transparent;
  color: #000;
}
@media only screen and (max-width:1200px) and (min-width:768px){
  .Speciality .nav-justified>li>a {
    font-size: 18px;
  }
  .about-us p {
    font-size: 16px;
  }
  .about-us h2 {
    font-size: 22px;
  }
  .about-us h3 {
    font-size: 19px;
  }
  .Speciality p{
  width: 100%;
  }
  .Speciality img {
    width: 100%;
    height: auto;
    margin-top: 5%;
  }
}
@media only screen and (max-width:767px) and (min-width:100px){
	.custom-banner {
    height: auto !important;;padding: 15% 10% !important;
	}
	.jumbotron {
	    padding: 10% 20%;
	    background: #08090b;
	    background-position: center;
        background-image: url(../images/new/landingpageheading.png);
        background-repeat: no-repeat;
	    background-size: contain;
	}
	.promise .carousel-inner .item{
	margin-left:0% !important;
	    width: 100%;
	    display: inline-flex;
	}
	.promise .carousel-inner .glyphicon{
	 display:none;
	}
  .about-us p {
    font-size: 14px;
    text-align: center;
  }
  .about-us h2 {
    text-align: center;
    font-size: 22px;
  }
  .about-us h3 {
    font-size: 19px;    
    margin: 10px;
    text-align: center;
  }
  .Speciality p{
  width: 100%;
  text-align: center;margin-top: 5%;
  }
  .Speciality img {
   width: 65%;;
    height: auto;
    margin-top: 5%;
  }
  .Speciality{
    text-align: center;
  }
   .Speciality .nav-justified>li>a {
    font-size: 17px;
    width: 175px;
  }
  .Speciality .nav-justified {
    margin: 8% 0%;
    display: inline-flex;
    width: 100%;
    overflow-x: scroll;
  }
  .text-left a{
  text-align: center !important;
  }
  .text-right a{
    text-align:center !important;

  }
}