@charset "UTF-8";
.terms-banner{
 background-image: url(../images/common/bg.png);
 background-repeat: no-repeat;
 background-size: cover;
 padding:7%;
 text-align:center;
}
.subscription{
	display:none;
}
/*.terms{
  margin-top:5%;
}*/

.specific-div h3{
  font-size: 22px;
  font-weight: 600;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}
.specific-div p{
  
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: 1px;
  text-align: left;
  color: #000000;
}

.spl-div {
    padding: 5% 15px;
}
.custom-container{
      width: 95%;
}
.specific-div{
    margin: 50px 0px;
}
.spl-div{
    padding: 2% 0%;
}
 .spl-div h2{
 font-size: 52px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 4;
  letter-spacing: 3.9px;
  text-align: center;
  color: #fff;      background-image: url(../images/new/partnerus.png);
    background-repeat: no-repeat;
    background-size: cover;
 }
@media only screen and (max-width:1200px) and (min-width:768px){
.subscribe-btn {
    padding: 5px 0px !important;
    width: 150px !important;;
    border-radius: 5px;
    border: 2px solid #28b6f6 !important;
    font-size: 15px !important;;
}
.subscription-div .form-control {
    background: transparent;
    border-radius: 0px;
    padding: 6px 12px 6px 0px;
 font-size: 15px !important;;
}
.subscription {
    width: 90%;
    margin: 2% auto;
}
.subscription-div {
    padding: 3% 0%;
    background-color: #fbfbfb;
}
.terms-banner {
    padding: 10% 0% 5% !important;;
}

.terms-banner h1 {
    font-size: 30px !important;;
}
.spl-div h2 {
    font-size: 18px;
}
.specific-div h3 {
    font-size: 17px;
}
.specific-div p {
    font-size: 14px;
}
.spl-div h2 {
    font-size: 25px;
    }
    .spl-div {
    padding: 5% 0%;
}
 }

@media only screen and (max-width:767px) and (min-width:200px){

.terms-banner h1 {
    font-size: 22px !important;;
}
.terms-banner {
    padding: 15% 0% 5% !important;;
}
.spl-div h2 {
   font-size: 16px !important;
    text-align: center;
    margin-top: 8%;
}
.specific-div h3 {
    font-size: 15px !important;;;
}
.specific-div p {
    font-size: 13px !important;;;
}
  }